@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  scroll-behavior: smooth;
  font-optical-sizing: auto;
}

.section-container {
  @apply items-center justify-center mx-auto;
} */

/* CSS */
/* .social-icon {
  @apply relative flex items-center justify-center w-10 h-10 text-gray-600 transition-colors duration-300 overflow-hidden;
}

.dash {
  @apply absolute left-1/2 -translate-x-3 w-6 h-5 space-y-8 transition-transform duration-300 -translate-y-7 scroll-smooth;
}

.social-icon:hover .dash {
  @apply translate-y-[calc(100%+0.25rem)];
} */

/* HAMBURGER MENU */

/* .hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 28px;
  height: 4px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: #000;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: fixed;
  top: 50px;
  right: 25px;
}

.open .hamburger-top {
  width: 32px;
  transform: rotate(45deg) translate(9px);
  background-color: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  width: 32px;
  transform: rotate(-45deg) translate(-9px);
  background-color: #fff;
} */



/* Common styles */
/* #hero, #services, #skills, #about, #contact,#footer, #projects {
  font-family: "Montserrat", san-serif;
}

#services h2, #services h3, #skills h3, #projects h2 {
  font-family: "Cairo Play", sans-serif;
}

#hero {
  background-image: url("../public/Images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
} */

/* Animation */
/* @keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s ease, transform .5s ease;
}

.animate-slide-left.animate {
  animation: slideInFromLeft 0.8s ease forwards;
}

.reveal-letter {
  opacity: 0;
  transform: translateY(10px);
  display: inline-block;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animate .reveal-letter {
  opacity: 1;
  transform: translateY(0);
}

@keyframes reveal-text {
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */



/* Media queries */
/* @media (max-width: 576px) {
  #logo {
    width: 50px;
    height: auto;
  }
  #hero {
    background-image: url("../public/Images/bg-header-mobile.png");
  }


}

@media (max-width: 768px) {
  .hamburger-top {
    top: 0;
    right: 50%;
    width: 50%;
    background:#F6C391
  }

  .hamburger-middle {
    top: 0;
    left: 0;
    background:hsl(229, 31%, 21%);
  }
  .hamburger-bottom {
    bottom: 0;
    left: 50%;
    width: 50%;
    background:#F6C391
  }

 
}
 */
