/* @keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s ease, transform .5s ease;
}

.animate-slide-left.animate {
  animation: slideInFromLeft 0.8s ease forwards;
} */

