/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 28px;
  height: 4px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: #000;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: fixed;
  top: 50px;
  right: 25px;
}

.open .hamburger-top {
  width: 32px;
  transform: rotate(45deg) translate(9px);
  background-color: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  width: 32px;
  transform: rotate(-45deg) translate(-9px);
  background-color: #fff;
}

@media (max-width: 768px) {
  .hamburger-top {
    top: 0;
    right: 50%;
    width: 50%;
    background:#F6C391
  }

  .hamburger-middle {
    top: 0;
    left: 0;
    background:hsl(229, 31%, 21%);
  }
  .hamburger-bottom {
    bottom: 0;
    left: 50%;
    width: 50%;
    background:#F6C391
  }

 
}
